<h1>New snippet</h1>

<% form_for(@snippet) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body, :size => "100x30" %>
  </p>
  <p>
		<button class="round_corners">Submit</button>
  </p>
<% end %>